<launch>
  <arg name="ns" default="jy" />
  <group ns="$(arg ns)">
    <!--node pkg="xbee_ros_node" type="rssi_node" name="rssi_node1" args="9 2" output="screen"/>
    <node pkg="xbee_ros_node" type="rssi_node" name="rssi_node2" args="9 4" output="screen"/-->
    <node pkg="xbee_ros_node" type="rssi_node" name="rssi_node1" args="9 2" />
    <node pkg="xbee_ros_node" type="rssi_node" name="rssi_node2" args="9 4" />
  </group>
</launch>
